.aboutme {
  margin: 1em;
  background-color: #4d79ff;
  border: 2px solid black;
}
img {
  margin: 1%;
}
.aboutcupcakes {
  margin: 1em;
  background-color: #99ffbb;
  border: 2px solid black;
}
.caption a:link, .caption a:hover, .caption a:active, .caption a:visited {
  color: #ffffff;
}
